@import "../themes/green-theme.scss";

.result-container {
  width: 63vw;
  padding-right: 5%;
}

.text-and-graph-container {
  background: #f7f7f7;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.06),
    -4px 24px 38px rgba(0, 0, 0, 0.04);
  width: 63vw;
  height: 64vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
    font-family: $login-h2;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: $dark-color;
  }
}
.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64vh;
}
