// @import '../themes/green-theme.scss';
@import "../themes/green-theme.scss";

.login-page-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.login {
  z-index: 1000;
  width: 24vw;
  padding: 8vw;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
}

.welcome-container {
  background-image: url("../../assets/welcomeBackground.jpg");
  background-size: cover;
  width: 60vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.welcome-greeting {
  padding: 0;
  padding-top: 19vh;

  h1 {
    margin: 0;
    margin-top: 0.4%;
    margin-bottom: 4.4%;
    font-family: $login-h1;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: $dark-text-color;
  }

  h2 {
    margin: 0;
    font-family: $login-h2;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: $dark-text-color;
  }
}

.welcome-image {
  height: 40vh;
  border-radius: 10.9153px;
}

.login .log-in-header {
  margin: 0;
  margin-top: 19vh;
  margin-bottom: 4%;
  font-family: $login-h2;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: $dark-text-color;
}

.login .log-in-quip {
  margin: 0;
  margin-bottom: 8%;
  font-family: $login-h2;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #7c7c7c;
}

.login .form-labels {
  margin: 0;
  margin-left: 4%;
  margin-bottom: 2%;
  font-family: $login-h2;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $dark-text-color;
}

.login .field {
  height: 90px;
}

.login input {
  width: 24vw;
  height: 35px;
  font-size: 16px;
  color: $dark-color;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: -15px;
  margin-left: -3px;
  border: 3px solid $dark-color;
  border-radius: 5px;
}

.login .errors {
  margin-top: 8px;
  color: $error-color;
  font-size: 12px;
}

.login .error-container {
  margin: 0px;
  position: absolute;
  bottom: 10px;
  width: 80%;
}

.login .request-error {
  background-color: $error-color;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.login .request-success {
  background-color: $success-color;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.login input[type="submit"] {
  font-family: $login-h2;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  cursor: pointer;
  height: 60px;
  border-radius: 10px;
  background-color: $dark-color;
  color: #fff;
}

.login .sign-up-toggle-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;

  h1 {
    font-family: $login-h2;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .sign-up-text {
    color: #7c7c7c;
  }

  .sign-up-link {
    color: $light-accent-color;
  }
}