// @import '../themes/green-theme.scss';
@import '../themes/green-theme.scss';

.login-page-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh
}
.login {
  z-index: 1000;
  width: 30vw;
  // width: 500px;
  padding: 10vw;
  background-color: #fff;
}

.welcome-image-container {
  background-image: url("../../assets/welcomeBackground.jpg");
  background-size: cover;
  width: 50%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 10px;
  }
}

.welcome-image {
  width: 30vw;
  padding: 5vw;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.login h2 {
  cursor: pointer;
  text-align: center;
  font-size: 40px;
  padding: 0px;
}

.login button {
  background-color: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
}

.login ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
}

.login .field {
  height: 80px;
}

.login ol li {
  list-style: none;
}

.login .selected {
  color: $accent-color;
  text-decoration: underline;
}

.login input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

.login .errors {
  margin-top: 8px;
  color: #f57187;
  font-size: 12px;
}

.login .error-container {
  margin: 0px;
  position: absolute;
  bottom: 10px;
  width: 80%;
}

.login .request-error {
  background-color: #f57187;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.login input[type=submit] {
  font-size: inherit;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  height: 4em;
  border-radius: 10px;
  padding: 10px;
  background-color: $accent-color;
}

@media only screen and (max-width: 600px) {

  .login {
    width: 80vw;
    padding: 30px;
  }
}