@import url("https://fonts.googleapis.com/css2?family=Inter&family=Koulen&display=swap");

$dark-color: #42522e;
$accent-color: #6e9532;
$light-accent-color: #a1c081;
$light-color: #e3e9d3;
$dark-text-color: #1c1f1f;

$error-color: #f57187;
$success-color: rgb(51, 224, 51);
$login-h1: "Koulen", cursive;
$login-h2: "Inter", normal;
