@import "screenSizes";

$text-color1: #42522E;

.app {
  color: $text-color1;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include small-down {
    flex-direction: column;
  }
}