@import "screenSizes";

$text-color1: #42522E;

.app {
  color: $text-color1;
  background: url(../assets/background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include small-down {
    flex-direction: column;
  }
}